@model ArtProject2016.ViewModel.ForgotPasswordViewModel
  <div class="modal fade" id="forgot-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                <div class="modal-dialog modal-sm">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="Login">Forgot your Password?</h4>
                        </div>
                        <div class="modal-body">
                          @using(Html.BeginForm("ForgotPassword","Auth",FormMethod.Post))
                          {
                             @Html.AntiForgeryToken()
                              @Html.ValidationSummary()
                              <div class="form-group">
                                  <label for="userName">Email Address (Username)</label>
                                  @Html.TextBoxFor(user => user.userName,  new { @class = "form-control"  })
                                  @Html.ValidationMessageFor(model => model.userName)
                              </div>
                              
                                <p class="text-center">
                                    <button class="btn btn-primary"><i class="fa fa-sign-in"></i>Forgot Password</button>
                                </p>

                          }
                        </div>
                    </div>
                </div>
            </div>
