
@{
    ViewBag.Title = "OrderComplete";
}

<div class="box">
    <h1>Orders Complete :)</h1>
</div>
   <div class="box">
                <h1>Thank you for supporting local artists!</h1>
       <p>Your order no: @ViewBag.OrderId</p>
       <p>We are already preparing your order for shipping!</p>
       
       <p>Gross amount of trans: @ViewBag.GrossAmt</p>
   </div>