
@{
    ViewBag.Title = "PaymentProcessing";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="box">
    
    <h1>Payment Processing : Loading...</h1>
    
    <p>Please dont close this windows while we process your payment</p>
    <p>It will only take 1-2mins and you will be automatically redirected. Thank you</p>

</div>

