@using ArtProject2016.ViewModel
@{
    ViewBag.Title = "_ShopLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
                _________________________________________________________ -->
            

            @*       @Html.Partial("_ShopLeftPanel", new ShopLayoutViewModel() )
          *@
            @Html.Action("ShopLeftPanel", "Shop")

                <!-- *** MENUS AND FILTERS END *** -->

           @*     <div class="banner">
                    <a href="#">
                        <img src="~/img/banner.jpg" alt="sales 2014" class="img-responsive">
                    </a>
                </div>*@
            </div>


            <div class="col-md-9">
                @RenderBody()
            </div>

        </div>

    <!-- /.container -->
</div>
