@{
    ViewBag.Title = "_ShopLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <a href="category.html">Artist <span class="badge pull-right">42</span></a>
                            <ul>
                                <li><a href="category.html">Jo Suarez</a>
                                </li>
                                <li><a href="category.html">Art School</a>
                                </li>
                                <li><a href="category.html">Jeryl</a>
                                </li>
                                <li><a href="category.html">Da Vinci</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="category.html">Paintings  <span class="badge pull-right">123</span></a>
                            <ul>
                                <li><a href="category.html">Water Color</a>
                                </li>
                                <li><a href="category.html">Oil</a>
                                </li>
                                <li><a href="category.html">Coffee based</a>
                                </li>
                                <li><a href="category.html">Crayola</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Class<span class="badge pull-right">11</span></a>
                            <ul>
                                <li><a href="category.html">Tutorial</a>
                                </li>
                                <li><a href="category.html">Contact Us</a>
                                </li>
                                <li><a href="category.html">Partners</a>
                                </li>
                                <li><a href="category.html">Advertise</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i>Clear</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Armani (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Versace (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Carlo Bruni (15)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Jack Honey (14)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>Apply</button>

                    </form>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i>Clear</a></h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour white"></span>White (14)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour blue"></span>Blue (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour green"></span>Green (20)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour yellow"></span>Yellow (13)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour red"></span>Red (10)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>Apply</button>

                    </form>

                </div>
            </div>

            <!-- *** MENUS AND FILTERS END *** -->

            <div class="banner">
                <a href="#">
                    <img src="~/img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>


        <div class="col-md-9">
            @RenderBody()
        </div>

    </div>
    <!-- /.container -->
</div>
